*{
    margin: 0px;
}

.navigation-container{
    max-width: 1280px;
    margin: 0px auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.navigation-ul-list ul{
    display: flex;
    gap: 24px;
}

.navigation-ul-list ul li{
    list-style-type: none;
}

.navigation-ul-list ul li a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
}

.btn{
    width: 188px;
    height: 48px;
    padding: 12px 12px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: #1D4ED8;
}