*{
    margin: 0px;
}



/* navigation start */

.navigation-bg{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
}

.navigation-container{
    max-width: 1280px;
    margin: 0px auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}

.navigation-ul-list ul{
    display: flex;
    gap: 24px;
}

.navigation-ul-list ul li{
    list-style-type: none;
}

.navigation-ul-list ul li a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
}

.btn{
    width: 188px;
    height: 48px;
    padding: 12px 12px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: #1D4ED8;
}

/* navigation end */

/* ---------------------------------------------------------------- */

/* header banner section start */


.banner-img{
   
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.852) , rgba(0, 0, 0, 0.326));
}

.banner-img img{
    width: 100%;
    position: absolute;
    z-index: -2;
}
.banner-content-container{
    max-width: 1280px;
    margin: 0 auto;
}

.banner-content{
    padding: 250px 0px 82px 0px;
}

.banner-content h1{
    font-size: 80px;
    text-align: center;
    color: white;
}

.banner-content p{
    font-size: 24px;
    text-align: center;
    color: white;
    padding-top: 24px;

}
.banner-btn{
    text-align: center;
    margin-top: 250px;
}

/* header banner section end */

/* ---------------------------------------------------------------- */

/* Meet the Speakers section start */